@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1591841946311'); /* IE9 */
  src: url('iconfont.eot?t=1591841946311#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKQAAsAAAAABjwAAAJFAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApAXwE2AiQDCAsGAAQgBYRtBzYbiwXILqEc20kk0LTZgGIGvEbXjQNgnY94+NqP/bn7FhNJDN2zaLJGYjqRqt4KIdKhw5cSuJyqMjYhfzwbBqVroEwsyS97y/d+d7A1cK+EFpEWF6V4w+LmBM9QPtT25n+gRR/gXKIrwFuf53J6E+hA5gc6x/agsSZN6gXUiwMp0D0wiqyEMm4Yu+AFPiZQqVdbYXn7cCbqMntVII58V4p6ISrLrFAulDYczOJGifJ0ml5wHX0//puJOklJwW5ZO9xyxPhbp6R09stuQIgR0PESFJgmZGKrMbuiJBhXUpktGySO1Rh8+y/wiKM6Bfvr7Ppq0A1Vz6T2VgqQ4LGmaiS0T9pENOqHFk8/n7fMl/72x5Pm2aMV+LFpWjFvtiqu+RiNwZ8V4kMg+OyHA/3VWxl80VtkzMP8lO/DF/wL9cCBbGhtd8qaunE0aTxHW6VK/MLBRu9TbS0nLoZyLRP8ZXoyFMoNk5mdRokqsyhVbg6Vpuwcr9KElESuwKRrgFDvGUmtdxTqvZKZXaFEq1+Uqo8SKu2EC6uMht+cUDI6oE7B1zYxrpebceME3TySlNdG/AIp8xMw6PbLhR1MkJbYkh25Q2YDhmwM2+A5jCILKdkANXc95nTU65mmN3W1jUXTEoIkhhxAOQV8mpUwwXjWrHx+ArlyEYk6+urKBUQy/uxgoKs/gNwxJYP6HuWVzBHXEGMGMIgVA9tgHopELJA2zwsgjXV5E9KpkZ4zzAw1dbe3xH93AirZ9hROa6H62JeRDPyKhG0uBAA=') format('woff2'),
  url('iconfont.woff?t=1591841946311') format('woff'),
  url('iconfont.ttf?t=1591841946311') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1591841946311#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xialajiantou:before {
  content: "\e638";
}
.icon-weibiaoti2fuzhi07:before {
  content: "\e615";
}
.icon-jurassic_mobile::before{
  content: "\e69d";
}
.icon-delete::before{
  content: "\e732";
}
.icon-service::before{
  content: "\e60b";
}

